# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite/Build
dist/
.vite/

# Env/IDE
.env
.env.*
!.env.example
.idea/
.vscode/
*.local
# Cursor IDE
.cursor/
